  
// neriima srifto nei pagal @import nuoroda css'e, nei pagal link'a html'e :(
  @import url('https://fonts.googleapis.com/css2?family=Borel&family=Lato&family=Open+Sans&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

  // @import "base";
  // @import "media";
  // @import "header_footer";
  // @import "icons";
  // @import "features";
  // @import "testimonials";
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body {
    color: black;
    font-family: 'Lato', sans-serif;
    padding: 100px;
  }
  .main{
    display: flex;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  }  
  h2{
      margin-top: 30px;
      margin-bottom: 10px;
    }
  h1 {
      color: #ffff;
      text-align: center;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 40px;
    }
        /* kodel aplamai nepriima atskiru elementu - h1, input? auk6tesn4s klas4s prid4jimas nepadeda */


        .header{
          display: flex;
          flex-direction: column;
          // position: fixed;
          max-width: 1000px;
          height: 400px;
          justify-content: center;
          border: none;
          background: url(../images/bg-masthead.jpg); 
          background-size: cover;
        
          h1 {
            color: #ffff;
            text-align: center;
            padding-left: 200px;
            padding-right: 200px;
            padding-bottom: 40px;
          }
        
          .registration{
            display: flex;
            justify-content: center;
            height: 40px;
            
             input{
                width: 300px;
                margin-right: 5px;
                padding-left: 10px;
                border: none;
                border-radius: 3px;
                     }  
        button{
          width: 100px;
          background:#007aff;
          color: #ffff;
          border: none;
          border-radius: 3px;
        }
        }
        }

.footer{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    height: 400px;
    justify-content: center;
    border: none;
    background: url(../images/bg-masthead.jpg); 
    background-size: cover;
  
    h1{
    color: #ffff;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 40px;
    }
  
    .registration1{
      display: flex;
      justify-content: center;
      height: 40px;
      
  .input1{
    width: 300px;
    margin-right: 5px;
    padding-left: 10px;
    border: none;
    border-radius: 3px;
    /* // nepriima email langelio formatavimo, kodel? */
  }  
  button{
    width: 100px;
    background:#007aff;
    color: #ffff;
    border: none;
    border-radius: 3px;
  }
    }
  }

  .footer2{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 1000px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 0.8em;
    
    nav{
  color: #007aff;
   word-spacing: 10px;
    }

    .icons2{
      margin-top: 25px;
      padding-right: 50px;    
    }
  }
  .features{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    max-width: 1000px;
    max-height: 900px;
    
  .left .right {
      display: flex;
      flex-direction: column;
  }
    .left {
      width: 50%;
  }
    .right {
      width: 50%;
  }

    img{
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      /* // nesupratau, kodel 3 photo turi autonomija ir elgiasi kaip nori, neklauso div'o rib7 ir stylingo?? */
    }
    article{
      max-width: 100%;
      height:fit-content;
      padding-left: 60px;
      padding-right: 80px;
      padding-bottom: 85px;
      text-align: justify;
    }
     h2{
      padding-top: 70px;
     }
  }
  .icons { 
    display: flex;
    flex-direction: row;  
    max-width: 1000px;
    height: fit-content;
    justify-content: space-evenly;
    padding: 100px;
    text-align: center;
    background: rgb(249, 247, 247);
     
      img{
        height: 50px;
        width: 50px;
       } 
      }
      
   .testimonials{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    max-width: 1000px;
    height: auto;
    padding-bottom: 40px;
    justify-content: space-evenly;
    text-align: center;
    background: rgb(249, 247, 247);
  
       h2{
      padding-top: 40px;
      padding-bottom: 30px;
      padding-left:300px;
      padding-right: 300px;
      text-align: center;
    }
    
      img {
          height: 100px; 
          width: 100px;
          border-radius: 100px;
          margin: auto;
     }
      
      text{
         margin: auto;
         padding: 50px;
         text-align: center;
      }
    }
    @media (max-width: 768px) 
    {
    .header{
    height: fit-content;
    }
    
    .icons {
    flex-direction: column;
    justify-content: center;
    padding: auto;
    }
    .features{
    max-height: fit-content;
    align-items: center;
    }
    .left .right{
    width: 100%;
     }   
    
    .testimonials {
    flex-direction: column;
    /* // nesicentruoja, kodel? */
    }
    .img {
    justify-content: center;
    }
    .registration {
      flex-direction: column;
      justify-content: center;
    }
    .registration1{
      flex-direction: column;
      justify-content: center;
    }
    .footer2{
      flex-direction: column;
      align-items: center;
    }
    }
      